In [1]:
#creating a dataframe

import pandas as pd

In [2]:
df = pd.read_csv('https://media.geeksforgeeks.org/wp-content/uploads/nba.csv')

In [3]:
df.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [4]:
df.shape

(458, 9)

In [5]:
#reshaping the df using stack method

df_stacked = df.stack()

In [9]:
df_stacked.head(20)

0  Name         Avery Bradley
   Team        Boston Celtics
   Number                   0
   Position                PG
   Age                     25
   Height                 6-2
   Weight                 180
   College              Texas
   Salary         7.73034e+06
1  Name           Jae Crowder
   Team        Boston Celtics
   Number                  99
   Position                SF
   Age                     25
   Height                 6-6
   Weight                 235
   College          Marquette
   Salary         6.79612e+06
2  Name          John Holland
   Team        Boston Celtics
dtype: object

In [10]:
#reshaping using unstacking

df_unstacked = df.unstack()

In [12]:
df_unstacked.head(20)

Name  0               Avery Bradley
      1                 Jae Crowder
      2                John Holland
      3                 R.J. Hunter
      4               Jonas Jerebko
      5                Amir Johnson
      6               Jordan Mickey
      7                Kelly Olynyk
      8                Terry Rozier
      9                Marcus Smart
      10            Jared Sullinger
      11              Isaiah Thomas
      12                Evan Turner
      13                James Young
      14               Tyler Zeller
      15           Bojan Bogdanovic
      16               Markel Brown
      17            Wayne Ellington
      18    Rondae Hollis-Jefferson
      19               Jarrett Jack
dtype: object

In [13]:
#I made a mistake
#must  unstack an already stacked dataframe

df_unstacked1 = df_stacked.unstack()

In [14]:
df_unstacked1.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180,Texas,7.73034e+06
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235,Marquette,6.79612e+06
2,John Holland,Boston Celtics,30,SG,27,6-5,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185,Georgia State,1.14864e+06
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231,NaN,5e+06
5,Amir Johnson,Boston Celtics,90,PF,29,6-9,240,NaN,1.2e+07
6,Jordan Mickey,Boston Celtics,55,PF,21,6-8,235,LSU,1.17096e+06
7,Kelly Olynyk,Boston Celtics,41,C,25,7-0,238,Gonzaga,2.16516e+06
8,Terry Rozier,Boston Celtics,12,PG,22,6-2,190,Louisville,1.82436e+06
9,Marcus Smart,Boston Celtics,36,PG,22,6-4,220,Oklahoma State,3.43104e+06

In [15]:
df.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [16]:
#using melt method

df_melt = df.melt(id_vars = ['Name', 'Team'])
df_melt.head(10)

            Name            Team variable value
0  Avery Bradley  Boston Celtics   Number     0
1    Jae Crowder  Boston Celtics   Number    99
2   John Holland  Boston Celtics   Number    30
3    R.J. Hunter  Boston Celtics   Number    28
4  Jonas Jerebko  Boston Celtics   Number     8
5   Amir Johnson  Boston Celtics   Number    90
6  Jordan Mickey  Boston Celtics   Number    55
7   Kelly Olynyk  Boston Celtics   Number    41
8   Terry Rozier  Boston Celtics   Number    12
9   Marcus Smart  Boston Celtics   Number    36